apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: go-web
  namespace: go-web
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: go-web
            port:
              number: 8080
